@use '../palette';

$color: palette.$base_fg;

.bl_globalLogo {
  color: $color;
  font-size: 2rem;
  font-weight: bold;
}

.bl_globalLogo_anchor {
  color: $color;
  text-decoration: none;
  transition: color 0.5s ease;

  &:hover,
  &:active {
    color: rgba($color, 0.8);
  }
}
